body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* common Styles ------------------------------------ */

.f-72 { font-size: 72px; line-height: 82px; }
.bold { font-weight: bold; }
.text-center { text-align: center; }

.px-3 { padding-left: 1rem; padding-right: 1rem; }
.py-3 { padding-top: 1rem; padding-bottom: 1rem; }
.my-3 { margin-top: 1rem; margin-bottom: 1rem; }


/* Layout Styles ------------------------------------ */

.primary-nav { background-color: aliceblue; padding: 12px 20px; }
.primary-nav a, nav a { margin-right: 26px; }


